<% if resource.errors.any? %>
  <div class="alert alert-danger mt-2">
    <h5><%= pluralize(resource.errors.count, '件エラー') %>が発生しました</h5>
    <ul>
      <% resource.errors.each do |attribute, message| %>
        <% if attribute == :name && resource.errors.include?(:name) %>
          <li>名前を入力してください</li>
        <% elsif attribute == :nickname && resource.errors.include?(:nickname) %>
          <li>ニックネームを入力してください</li>
        <% elsif attribute == :email && resource.errors.include?(:email) %>
          <li>メールアドレスを入力してください</li>
        <% elsif attribute == :password && resource.errors.include?(:password) %>
          <li>パスワードを６文字以上で入力してください</li>
        <% elsif attribute == :password_confirmation && resource.errors.include?(:password_confirmation) %>
          <li>上記と同じパスワードを入力してください</li>
        <% else %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>