<table class="table">
  <tbody>
    <% post.comments.each do |comment| %>
    <tr>
      <td>
        <%= link_to user_path(comment.user) do %>
          <%= comment.user.nickname %>
        <% end %>
      </td>
      <td><%= comment.comment %></td>
      <td>
        <% if comment.user == current_user %>
          <%= link_to post_comment_path(post, comment), method: :delete, remote: true, class: "btn btn-danger pull-right" do %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>