<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="underline my-2">フォロー</h4>
      <div class="row">
        <% if @users.exists? %>
          <%= render 'public/users/index', users: @users %>
        <% else %>
          <p class="ml-3">ユーザーはいません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>