<% if admin_signed_in? %>
  <%= form_with(url: admin_search_path, method: :get, class: "form-inline d-flex") do |form| %>
    <div class="form-group mr-2">
      <%= form.select(:search_target, @search_options.concat([['コメント', 'コメント']]), { include_blank: false }, class: "form-control") %>
    </div>
    <div class="input-group mr-2">
      <%= form.text_field :keyword, placeholder: "キーワードを入力", value: params[:keyword], class: "form-control" %>
      <div class="input-group-append">
        <%= form.button type: :submit, class: "btn btn-primary", id: "button-addon2" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>