<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="<%= image_path 'about2.jpg' %>" class="img-fluid" alt="お部屋を快適に">
    </div>
    <div class="col-md-6">
      <h2>ようこそMinkatsuへ！</h2>
      <h4>Minkatsuとは</h4>
      <p>
        購入した商品の活用例、使用例を共有し<br>
        <strong>みん</strong>なで<strong>活</strong>用させよう
        <strong>Minkatsu</strong>そんな情報共有サイトです！
      </p>
      <h4>使い方</h4>
      <p>
        購入された商品の活用している写真を撮っていただき<br>
        活用の詳しい仕方を投稿してください！
      </p>
      <p>
        使い方がいいと思ったらお気に入り登録ができます。<br>
        活用術が聞きたいという場合はコメントを残し、<br>
        意見交換をすることができます！
      </p>
    </div>
  </div>
</div>