<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="mt-2">ようこそMinkatsuへ</h2>
      <img src="<%= image_path 'about2.jpg' %>" class="img-fluid" alt="お部屋を快適に" style="margin-top: 5px;">
    </div>
    <div class="col-md-6">
      
      <h4 class="underline mt-2">Minkatsuとは</h4>
      <p>
        購入した商品の活用例、使用例を共有し<br>
        <strong>みん</strong>なで<strong>活</strong>用させよう
        <strong>Minkatsu</strong>そんな情報共有サイトです！
      </p>
      <h4 class="underline">使い方</h4>
      <p>
        購入された商品の活用している写真を撮っていただき<br>
        活用の詳しい仕方を投稿してください！
      </p>
      <p>
        使い方がいいと思ったらいいねを押すことでお気に入り登録ができます。<br>
        活用術が聞きたいという場合はコメントを残し、<br>
        意見交換をすることができます！
      </p>
      <h4 class="underline">会員登録について</h4>
      <p>
        会員登録はメールアドレス、名前、ニックネーム設定していただき、<br>
        利用開始となります！<br>
        ゲストログインでは、会員登録せず皆さんの投稿を見ることができます。<br>
        ただし、機能制限があるのでより活用したくなったら新規会員登録を！
      </p>
    </div>
  </div>
</div>