@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Klee One", cursive;
  font-weight: 500;
  font-style: normal;
}

body {
  padding-top: 56px; /* ヘッダーの高さ分だけコンテンツに余白を追加 */
}

// 背景色
.row {
  background-color: #F6F1F1;
}

.title {
  color: #E85C0D;
  font-weight: bold;
}


/* ナビゲーションバーの背景色とボーダー */
.navbar {
  background-color: #F6F1F1 !important;
  border-bottom: 2px solid #01204E;
}

/* 通常時のナビゲーションリンクの色とフォント */
.navbar-nav .nav-link {
  color: #01204E !important;
  font-weight: bold;
  transition: color 0.3s ease; /* スムーズな色の変化を追加 */
}

/* ホバー時のリンク色 */
.navbar-nav .nav-link:hover {
  color: #E85C0D !important; /* ホバー時の色を #E85C0D に設定 */
}

/* アクティブ時のリンク色 */
.navbar-nav .nav-link.active,
.navbar-nav .nav-item.active .nav-link {
  color: #E85C0D !important; /* アクティブな項目の色を #E85C0D に設定 */
}

/* ドロップダウンメニューの項目の色設定 */
.dropdown-menu .dropdown-item:hover {
  background-color: #E85C0D !important; /* ホバー時の背景色を #E85C0D に設定 */
  color: #ffffff !important; /* ホバー時のテキスト色 */
}

.dropdown-menu .dropdown-item:active {
  background-color: #E85C0D !important; /* アクティブ時の背景色を #E85C0D に設定 */
  color: #ffffff !important; /* アクティブ時のテキスト色 */
}

.dropdown a {
  color: #01204E;
  font-weight: bold;
}


/* リンクの通常状態 */
a {
  color: #028391; /* カーソルを合わせない状態の色 */
  text-decoration: none; /* 下線を消したい場合はこれを追加 */
}

/* リンクのホバー状態（カーソルを合わせた状態） */
a:hover {
  color: #E85C0D; /* カーソルを合わせた時の色 */
}

/* リンクがクリックされた状態（フォーカス状態） */
a:focus,
a:active {
  color: #E85C0D; /* クリックされた時の色 */
}


.highlight {
  font-size: 1.25em; /* 必要に応じてフォントサイズを調整 */
  font-weight: bold;
  display: inline; /* インライン要素のままにする */
  color: #E85C0D;
}

.table {
  position: center;
  margin-top: 10px;
  background-color: #cad9d7;
  // background-color: #ACBDC5;
}

.underline {
  font-weight: bold;
  color: #01204E;
  border-bottom: 3px dashed #000;
  border-color: #028391;
  margin-bottom: 0;
}

// 投稿
.card-title {
  color: #01204E;
}

.card-text {
  color: #01204E;
}


// ボタン
.btn,
button.btn {
  font-weight: 700;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #01204E;
  border-radius: 0.5rem;
}

.btn-flat {
  overflow: hidden;
  color: #fff;
  border-radius: 0;
  background: #01204E;
}

.btn-flat span {
  position: relative;
}

.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-96%);
  transform: translateX(-96%);
  background: #FEAE6F;
}

.btn-flat:hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}


.notification {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.notification.unread {
  background-color: #cad9d7; /* 未読通知の背景色 */
}