<div class="container">
  <div class="row">
    <div class="col-12">
      
      <div class="d-flex justify-content-start underline mt-2">
        <div>
          <h4>
            <%= @user.nickname %>
          </h4>
        </div>
        <div class="ml-2">
          <%= render "public/relationships/btn", user: @user, options: { class: ""} %>
        </div>
      </div>
      
      <div class="row m-2">
        <%= render "public/relationships/follow_count", user: @user %>
      </div>

      <h4 class="underline">投稿一覧</h4>
      <div class="row mt-2">
        <%= render "public/posts/card", posts: @posts %>
      </div>
      
    </div>
  </div>
</div>